In [2]:
print('hola')

hola

In [3]:
nombre = 'My name'
print(nombre)

My name

In [4]:
nombre

'My name'

In [5]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [6]:
%pwd

'/home/jovyan'

In [7]:
%ls

00_00_binder.ipynb  README.md         session01/
Cartwheeldata.csv   requirements.txt  Untitled.ipynb

In [8]:
import numpy as np
n=50
numeros_random = np.random.rand(n)
numeros_random

array([0.41697201, 0.6109452 , 0.77953932, 0.44343336, 0.23241589,
       0.58672679, 0.12587429, 0.28696987, 0.34914221, 0.6899101 ,
       0.09337565, 0.93032479, 0.06216952, 0.80978908, 0.2541413 ,
       0.89092073, 0.30178056, 0.05433263, 0.1440239 , 0.47924061,
       0.62523744, 0.02131673, 0.95701003, 0.68325513, 0.64665461,
       0.22881768, 0.75751193, 0.86940795, 0.54351056, 0.4166045 ,
       0.12966651, 0.87862309, 0.97653484, 0.67892289, 0.19047393,
       0.08989585, 0.74728382, 0.21286461, 0.91144496, 0.59456176,
       0.14313165, 0.42028735, 0.32559219, 0.60407764, 0.83780453,
       0.42814571, 0.65995013, 0.11780421, 0.29847724, 0.0103837 ])

In [9]:
import math


type(4) #enteros#

int

In [10]:
type(4.2) #me va a dar float que significa decimal#

float

In [11]:
type('my name') #str significa string y es texto#

str

In [12]:
type(True)

bool

In [13]:
type(2/5)

float

In [14]:
type(None)

NoneType

In [15]:
an_array = [1, 2, 3, 4, 10]
an_array

[1, 2, 3, 4, 10]

In [16]:
print(an_array)

[1, 2, 3, 4, 10]

In [17]:
suma = sum(an_array) #lo sume y lo gaurd√© en la variable suma#
suma

20

In [18]:
mean_an_array = suma/len(an_array)#promedio#

In [19]:
mean_an_array

4.0

In [20]:
len(an_array) #longitud#

5

In [21]:
6*10

60

In [22]:
6*10**2 #6 por 10 al cuadrado#

600

In [23]:
6*10**(-1) #6 por 10 a la menos 1#

0.6000000000000001

In [24]:
math.pi #ya esta definida en la libreria math#

3.141592653589793

In [25]:
type(math.pi) #es decimal pq es el numero#

float

In [26]:
type('math.pi') #con comillas es str#

str

In [27]:
otra_array =[2, math.pi, 3/5, 'a_str']
otra_array

[2, 3.141592653589793, 0.6, 'a_str']

In [28]:
sum(otra_array) #da error pq tiene un str, no se puede sumar#

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
#una funcion con if#
x=6
y=8
if x<y :
    print('{} es menor que {}' .format(x, y))
else:
    print('{} es menor que {}'.format(y,x))

In [29]:
my_list =[True, 6<5, 1==3, None is None]
my_list

[True, False, False, True]

In [30]:
for i in my_list:
    print('{} \t {}'.format(i, type(i)))
#bool es si es verdadero o falso#

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [31]:
for i in my_list:
    print(i, '\t', type(i)) #otra forma de escribirlos#

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [32]:
for i in my_list:
    print(i, '\t y su tipo es ', type(i))

True 	 y su tipo es  <class 'bool'>
False 	 y su tipo es  <class 'bool'>
False 	 y su tipo es  <class 'bool'>
True 	 y su tipo es  <class 'bool'>

In [33]:
x = None
type(x)

NoneType

In [34]:
none_list = [None]*5
none_list

[None, None, None, None, None]

In [35]:
len(none_list)

5

In [36]:
una_lista = ['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']
una_lista
#el pos_0 es por que es posici√≥n cero#

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [62]:
una_lista.sort()
una_lista
#lo puso por orden alfabetico#

['fifth', 'first', 'fourth', 'pos_0', 'second', 'third']

In [37]:
len(una_lista)

6

In [38]:
una_lista[2] #llamo a la posici√≥n 2 de la lista por que comienzan en cero#

'second'

In [39]:
una_lista[3]

'third'

In [40]:
una_lista[0:4] #no incluye la ultima posicion de lo solicitado#

['pos_0', 'first', 'second', 'third']

In [41]:
una_lista[1:4] #solo del primero al tercero#

['first', 'second', 'third']

In [42]:
una_lista[5]

'fifth'

In [43]:
una_lista[-1]

'fifth'

In [44]:
una_lista[-2:] #dejo abierto el final#

['fourth', 'fifth']

In [45]:
una_lista[-4:-1] #no considera el ultimo, si quiero hasta el final mejor lo dejo abieto#

['second', 'third', 'fourth']

In [46]:
una_lista[:] #sin principio ni final#

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [47]:
num_array = np.array([0,1,2,3,4,5,6,7,8,9,10])
num_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [48]:
type(num_array)

numpy.ndarray

In [50]:
np.mean(num_array)

5.0

In [51]:
sum(num_array)/len(num_array)

5.0

In [52]:
np.dot(3,4) #multiplica el producto punto#

12

In [55]:
np.dot([2j,3j],[2j,3j]) #producto punto#

(-13+0j)

In [57]:
import pandas as pd
data_set = 'Cartwheeldata.csv'
df = pd.read_csv(data_set)

In [58]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [60]:
df.head(5)
#imprime solo 5 lineas#

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [61]:
df.columns
#me dice las columnas que tiene el doc#

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [63]:
type(df.columns) #ver que tipo son las columnas y sale que index#

pandas.core.indexes.base.Index

In [64]:
index_list = list(df.columns) #hago una lista de indices para poder acomodarlas despu√©s#

In [66]:
index_list.sort()
index_list #acomoda la lista en orden alfabetico#

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

In [68]:
for i in df.columns:
    print(i)

ID
Age
Gender
GenderGroup
Glasses
GlassesGroup
Height
Wingspan
CWDistance
Complete
CompleteGroup
Score

In [70]:
df['Height']

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64

In [71]:
df[['Height']] #con 2 corchetes imprime en forma de data#

    Height
0    62.00
1    62.00
2    66.00
3    64.00
4    73.00
5    75.00
6    75.00
7    65.00
8    74.00
9    63.00
10   69.50
11   62.75
12   65.00
13   61.50
14   73.00
15   71.00
16   61.50
17   66.00
18   70.00
19   68.00
20   69.00
21   71.00
22   70.00
23   69.00
24   65.00

In [74]:
x = df['Height']
print (x)
print (type(x))

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64
<class 'pandas.core.series.Series'>

In [75]:
y = df[['Height']]
print(y)
print(type(y))

    Height
0    62.00
1    62.00
2    66.00
3    64.00
4    73.00
5    75.00
6    75.00
7    65.00
8    74.00
9    63.00
10   69.50
11   62.75
12   65.00
13   61.50
14   73.00
15   71.00
16   61.50
17   66.00
18   70.00
19   68.00
20   69.00
21   71.00
22   70.00
23   69.00
24   65.00
<class 'pandas.core.frame.DataFrame'>

In [77]:
print(type(x)) #con un corchete sale como series#
print(type(y)) #con doble corchete sale como dataframem( o sea tabla)#

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [80]:
df[['Height', 'Gender']]

    Height Gender
0    62.00      F
1    62.00      F
2    66.00      F
3    64.00      F
4    73.00      M
5    75.00      M
6    75.00      M
7    65.00      F
8    74.00      M
9    63.00      F
10   69.50      M
11   62.75      F
12   65.00      F
13   61.50      F
14   73.00      M
15   71.00      M
16   61.50      F
17   66.00      M
18   70.00      M
19   68.00      F
20   69.00      M
21   71.00      M
22   70.00      M
23   69.00      M
24   65.00      F

In [79]:
df['Height', 'Gender'] #no funciona por que si quiero 2 cosas hay que usar doble#

KeyError: ('Height', 'Gender')

In [81]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [85]:
df.loc[:, 'Age':'GenderGroup'] 
#rowstart : row end, column_start:column_end #

    Age Gender  GenderGroup
0    56      F            1
1    26      F            1
2    33      F            1
3    39      F            1
4    27      M            2
5    24      M            2
6    28      M            2
7    22      F            1
8    29      M            2
9    33      F            1
10   30      M            2
11   28      F            1
12   25      F            1
13   23      F            1
14   31      M            2
15   26      M            2
16   26      F            1
17   27      M            2
18   23      M            2
19   24      F            1
20   23      M            2
21   29      M            2
22   25      M            2
23   26      M            2
24   23      F            1

In [86]:
df.loc[:3, 'Age':'GenderGroup'] #solo 3#

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1
2   33      F            1
3   39      F            1

In [87]:
df.loc[:3, 'Age':] #solo 3 y hasta el final de columnas#

,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,39,F,1,N,0,64.0,63.0,87,Y,1,10

In [88]:
df.iloc[:3,1:4] #cuando se usa iloc es con index y loc es con nombre del columna#

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1
2   33      F            1

In [93]:
new_df = df.loc[:3,'Height':'Complete']
new_df

   Height  Wingspan  CWDistance Complete
0    62.0      61.0          79        Y
1    62.0      60.0          70        Y
2    66.0      64.0          85        Y
3    64.0      63.0          87        Y

In [94]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [95]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [97]:
df.Height.unique() #unique los valores pero solo pone 1 de cada 1)

array([62.  , 66.  , 64.  , 73.  , 75.  , 65.  , 74.  , 63.  , 69.5 ,
       62.75, 61.5 , 71.  , 70.  , 68.  , 69.  ])

In [98]:
df.groupby(['Gender','GenderGroup']).size() #size es para saber cuantoas hay#

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64

In [99]:
df.groupby(['Height','GenderGroup']).size()

Height  GenderGroup
61.50   1              2
62.00   1              2
62.75   1              1
63.00   1              1
64.00   1              1
65.00   1              3
66.00   1              1
        2              1
68.00   1              1
69.00   2              2
69.50   2              1
70.00   2              2
71.00   2              2
73.00   2              2
74.00   2              1
75.00   2              2
dtype: int64